{{!-- This is the view for the homepage that will show all posts by all users. --}}
<div id="blogPostSection">
    {{#each blogPosts as |posts|}}
    <article class="blogPostCard">
        <div class="postHeader">
            <div class="postTitle"><a href="/posts/{{posts.post_id}}">{{posts.post_title}}</a></div>
            <div class="postMeta">Posted by {{posts.User.user_name}} on {{posts.updatedAt}}</div>
        </div>
        <div class="postBody"> {{posts.post_body}}</div>
    </article>
    {{/each}}
</div>